/* Coolors Exported Palette - coolors.co/6b8c7e-b3bde5-a7cfd5-4e4c84-af0c2d */

/* HSL */
$color1: hsla(155%, 13%, 48%, 1);
$color2: hsla(228%, 49%, 80%, 1);
$color3: hsla(188%, 35%, 75%, 1);
$color4: hsla(242%, 27%, 41%, 1);
$color5: hsla(348%, 87%, 37%, 1);

/* RGB */
$color1: rgba(107, 140, 126, 1);
$color2: rgba(179, 189, 229, 1);
$color3: rgba(167, 207, 213, 1);
$color4: rgba(78, 76, 132, 1);
$color5: rgba(175, 12, 45, 1);